header a{
    text-decoration: none;
}

header a img{
    height: 100px; /* define nicely later*/
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    background: url('../images/sky.png'), 
                url('../images/mountains.png'),
                #f0ae66;
    background-repeat: repeat-x, repeat-x;
    background-position: top, bottom;
}

#content #center { 
    background: #9d4719;
    border: 8px solid #5e2b0f;
    margin: auto;
}