$black: #000000;
$white: #FFFFFF;
$red: #FF0000; // Always there for debugging 

$b1: #5e2b0f;
$b2: #9d4719;
$b3: #b56e2a;
$b4: #ebb967;
$b5: #f0ae66;
$b6: #fadbb5;

@mixin text-outline ($color, $thickness) {
    // text-strokes
    $corner: $thickness / 1.41; // sqrt(2), 45 deg on radius circle of 1 
    text-shadow: (-$corner) (-$corner) 0 $color,
                 $corner (-$corner) 0 $color,
                 (-$corner) $corner 0 $color,
                 $corner $corner 0 $color,
                 (-$thickness) 0 0 $color,
                 $thickness 0 0 $color,
                 0 (-$thickness) 0 $color,
                 0 $thickness 0 $color;
}

@font-face {
    font-family: Arista;
    src: url("../fonts/Arista2.0.ttf");
}

@font-face {
    font-family: Latine;
    src: url("../fonts/Latine.ttf");
}

$arista-stack: Arista, "Trebuchet MS", Helvetica, sans-serif;
$latine-stack: Latine, "Palatino Linotype", "Book Antiqua", Palatino, serif;

$brown-border: 10px solid $b1;

body, html {
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, a {
    font-family: $arista-stack;
}

h6, p {
    font-family: $latine-stack; 
}

header {
    // breakpoint
    height: 9em;
    margin: 2% 0;
    text-align: center;
    img {
        height: 100%;
    }
}

#search-bar {
    background: $white;
    border: 5px solid $b3;
    border-radius: 2em;
    margin: auto;
    // min width 
    width: 25%;
    #search {
        height: 100%;
        width: 100%;
    }
    .left {
        width: auto;
        overflow: hidden;
        padding-left: .5em;
        input {
            border: none;
            font-family: $latine-stack;
            border-bottom-left-radius: 2em; 
            border-top-left-radius: 2em;
            width: 100%;
            color: $b3;
        }
        ::-webkit-input-placeholder { /* WebKit browsers */
            color: $b5;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
           color: $b5;
           opacity:  1;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
           color: $b5;
           opacity:  1;
        }
        :-ms-input-placeholder { /* Internet Explorer 10+ */
           color: $b5;
        }
        input:focus {
            outline: none;
        }
    }
    .right {
        button {
            background: $b6;
            border: none;
            border-left: 5px solid $b3;
            border-bottom-right-radius: 2em; 
            border-top-right-radius: 2em; 
            color: $b1;
            float: right;
            width: 2.5em;
        }
    }
}

body {
    background: url('../images/sky.png'), 
                url('../images/mountains.png'),
                #f0ae66;
    background-position: top, bottom;
    background-repeat: repeat-x, repeat-x;
}

#content { 
    background: $b2;
    border: $brown-border;
    border-radius: 30px;
    margin: 2%;
    position: relative;
    #center { 
        margin: 0 15%;
        width: 70%;
    }
    .center-wrapper{
        border-left:$brown-border;
        border-right:$brown-border;
        bottom: 0;
        h2, p{
            margin: 0;
        }
    }
    .sidebar {
        a {
            color: $b5;
            font-family: $latine-stack; 
            text-decoration: underline;
        }
        a:visited {
            color: $b1;
        }
        a:hover {
            color: $white;
        }
        a:active {
            color: $black;
        }
        width: 15%;
        top: 0;
        bottom: 0;
        position: absolute;
    }
    #sidebar-left {
        left: 0;
    }
    #sidebar-right {
        right: 0;
    }
}

.post {
    a {
        color: $b5;
        font-family: $latine-stack; 
        text-decoration: underline;
    }
    a:visited {
        color: $b1;
    }
    a:hover {
        color: $white;
    }
    a:active {
        color: $black;
    }
    .header {
        background: url('../images/dark-dither.png');
        padding: 1em 0 1.5em 2.5em;
        border-bottom: $brown-border;
        h2 {
            color: $b6;
            font-size: 5em;
            line-height: 1em;
            @include text-outline($b1, 3px);
        }
        h6 {
            color: $b3;
            line-height: 2em;
            margin: 0;
            padding-left: 2.5em;
        }
        a {
            line-height: 1em;
            font-size: 2em;
        }
        a:visited {
            color: $b3;
        }
        a:hover {
            color: $white;
        }
        a:active {
            color: $black;
        }
    }
    .entry {
        padding: 1.5em 2.5em;
        p {
            color: $black;
            text-indent: 1.5em;
            font-family: $latine-stack; 
        }
        .image {
            display: inline;
            background: $b4;
            border: 5px solid $b1;
            border-radius: 1em;
            margin: 1em;
            img {
                border: 5px solid $b4;
                border-radius: 1em;
                width: 100%;
            }
            p {               
                color: $b1; 
                text-indent: 0;
                padding: .5em;
            }
            text-align: center;
        }
        .image.full {
            width: 100%;
            img {
                width: 100%;
            }
        }
        .image.half {
            width: 50%;
        }
        .image.third {
            width: 33%;
        }
        .image.fourth {
            width: 25%;
        }
        .image.ralign {
            float: right;
            margin-right: 0;
        }
        .image.lalign {
            float: left;
            margin-left: 0;
        }
        .image.calign {
            display: block;
            margin: 1em auto;
        }
    }
}

.recipe {
    background: $b6;
    border: 10px solid $b5;
    border-radius: 30px;
    margin: 0 1.5em;
    padding: 1em 1.5em;
    color: $b1;
    h2 {
        font-size: 5em;
        line-height: 1em;
    }
    h4 {
        margin: 0 inherit;
        font-size: 2em;
        line-height: 1em;
        padding: .25em 0;
    }
    li::before {
        font-family: 'Glyphicons Halflings';
        content: '\e013';
        line-height: 2em;       
        text-align: center;
        height: 2em;
        width: 2em;
        left: -3em;
        border-radius: 1em;
        margin: auto 0;
        top: 0;
        bottom: 0;
        background: $b4;
        display: inline-block;
        position: absolute;
    }
    li.checked {
        color: $b4;
    }
    li.checked::before {
        background: $b1;
    }
    ul {
        font-family: $latine-stack;
        margin: 0 inherit;
        list-style-type: none;
        li {
            position: relative;  
            line-height: 2em; 
        }
        li::before {
            line-height: 1.75em;  
            height: 1.75em;
            width: 1.75em;
            left: -2em;
        }
    }
    ol {
        font-family: $latine-stack;
        margin: 0 inherit;
        list-style-type: none;
        li {
            position: relative;   
            padding: .5em 0;     
        }
    }
}
.navi-links {
    clear: both;
    height: 4.5em;
    padding: 0 2.5em;
    a {
        color: $b5;
        text-decoration: underline;
    }
    a:visited {
        color: $b1;
    }
    a:hover {
        color: $white;
    }
    a:active {
        color: $black;
    }
    div {
        display: inline-block;
        position: relative;   
        a {
            font-size: 2em;
            line-height: 2.25em;
        }
    }
    a span {
        line-height: 1.5em;       
        text-align: center;
        height: 1.5em;
        width: 1.5em;
        border-radius: 1em;
        margin: auto 0;
        top: 0;
        bottom: 0;
        background: $b1;
        display: inline-block;
        position: absolute;
    }
    .older-link {
        float: right;
        margin-right: 3em; 
        a span {
            right: -2em;
        }
    }
    .newer-link {
        float: left;
        margin-left: 3em;
        a span {
            left: -2em;
        }
    }
}




















